<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" 
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="public/styles/style.css">
    
</head>
<body>
    <div class="container">
        {{> nav}}

        <div class="header_section text-center" id="home">
            <h1>We Are Fullstack Developer & Mentor.</h1>
            <p>I design and code beautifully simple things, and I love what I do.</p>
            <img src="public/images/cs-logo.png" alt="image">
        </div>
        <div class="hero_section">
            <img src="public/images/hero-img.png" width="500px" height="250px" alt="hero image">
            <div class="bg-primary p-5 text-center text-light">
                <h2>Hi, I'm Neevan. Nice to meet you.</h2>
                <p>Since the beginning of my journey as a freelance designer over 11 years ago, I've done remote work for agencies, consulted for the startups, and collaborated
                     with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually working on 
                     improving my chops one design problem at a time.
                </p>
            </div>
        </div>
        <div class="row card_state" id="about">
            <div class="col-12 mt-5 col-md-4 col-lg-4">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend Developer</h4>
                        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages I speak:</h5>
                        <p>HTML, Pug, Slim, CSS, Sass, Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Bitbucket</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Codekit</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">SVN Tortoise</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 col-md-4 col-lg-4">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend Developer</h4>
                        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages I speak:</h5>
                        <p>HTML, Pug, Slim, CSS, Sass, Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Bitbucket</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Codekit</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">SVN Tortoise</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 col-md-4 col-lg-4">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend Developer</h4>
                        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages I speak:</h5>
                        <p>HTML, Pug, Slim, CSS, Sass, Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Bitbucket</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Codekit</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">SVN Tortoise</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="service text-center" id="service">
            <h2>Our service</h2>
            <p>Services that we offer to you.</p>
             <div class="row">
                <div class="col-12 mt-5 col-md-4 col-lg-4">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/logo.svg" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h4>App Development</h4>
                            <p>App development text that fit on this part. Later replace this with your own text. It is not better to copy others'.</p>
                            <button type="button" class="btn btn-primary">Learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5 col-md-4 col-lg-4">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/logo.svg" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h4>App Development</h4>
                            <p>App development text that fit on this part. Later replace this with your own text. It is not better to copy others'.</p>
                            <button type="button" class="btn btn-primary">Learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5 col-md-4 col-lg-4">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/logo.svg" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h4>App Development</h4>
                            <p>App development text that fit on this part. Later replace this with your own text. It is not better to copy others'.</p>
                            <button type="button" class="btn btn-primary">Learn More</button>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="work_section">
            <h3>I'm proud to have collaborated with some awesome companies:</h3>
            <div class="row">
                <div class="col-12 mt-5 col-md-4 col-lg-4 work_img">
                    <img src="public/images/user-a-min.png"class="border p-5" alt="">
                </div>
                <div class="col-12 mt-5 col-md-4 col-lg-4 work_img">
                    <img src="public/images/hero-img.png"class="border p-5" alt="">
                </div>
                <div class="col-12 mt-5 col-md-4 col-lg-4 work_img">
                    <img src="public/images/cs-logo.png"class="border p-5" alt="">
                </div>
                <div class="col-12 mt-5 col-md-4 col-lg-4 work_img">
                    <img src="public/images/logo.svg"class="border p-5" alt="">
                </div>
                <div class="col-12 mt-5 col-md-4 col-lg-4 work_img">
                    <img src="public/images/user-a-min.png"class="border p-5" alt="">
                </div>
                <div class="col-12 mt-5 col-md-4 col-lg-4 work_img">
                    <img src="public/images/hero-img.png"class="border p-5" alt="">
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">

        <div class="contact_us" id="contact">
            <form>
                <h2 class="text-center">Contact Us</h2>
                <p class="text-center">Contact the help team</p>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Comments</label>
                    <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Leave a comment here"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        
        <div class="footer bg-light">
            <img src="public/images/logo.svg" alt="logo">
            <h3>Living, learning , & levelling up one day at a time.</h3>
            <div class="social_icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
            <p>Handicraft by me &copy; Nabin Ghimire</p>
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>